.container-tipo-libro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 40px;
    padding-top: 80px;
    justify-content: center;
}

.container-tipo-libro .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    flex: 33% 1;
}


.container-tipo-libro .column-card:nth-child(1) .card:hover {
    height: 260px;
}

.container-tipo-libro .column-card:nth-child(1) .card:hover .content{
    height: 110px;
}


.container-tipo-libro .card:hover {
    height: 310px;
}

.container-tipo-libro .card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container-tipo-libro .card:hover .img-box {
    top: -100px;
    scale: 0.75;
    border-radius: 50%;
    width: auto;
}

.container-tipo-libro .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container-tipo-libro .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-tipo-libro .card:hover .content {
    top: 130px;
    height: 163px;
}

.container-tipo-libro .card .content h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-700);
}

.container-tipo-libro .card .content p {
    color: #1c1c1c;
    font-size: 1.1rem;
}

.container-tipo-libro .card .content a {
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 500;
    color: #51bbdb;
    z-index: 9999;
    position: relative;
}

.column-card{
    width: 100%;
    display: inherit;
    gap: 40px;
}

.container-tipo-libro .card .content a:hover {
    opacity: 0.8;
}

.img-box img {
    width: 220px;
    margin: auto;
    border-radius: 50%;
    height: 220px;
    object-fit: cover;
}



@media (max-width: 1536px) {

    .container-tipo-libro .column-card:nth-child(1) .card:hover .content {
        height: 111px !important;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover{
        height: 255px !important;
    }


    .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        height: 216px;
    }

    .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 360px;
    }
}

@media (max-width: 1279px) {

    .container-tipo-libro .column-card:nth-child(1) .card:hover .content {
        height: 137px !important;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover {
        height: 280px !important;
    }

    .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        height: 243px !important;
    }

    .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 390px !important;
    }
}

@media (max-width: 1200px) {
    .container-tipo-libro {
        gap: 80px 40px;
    }

    .container-tipo-libro .card .content{
        padding: 0 20px;
    }
}

@media (max-width: 1023px) {
    section#tipo-libros{
        padding: 2rem 1rem 4rem;
    }

    .container-tipo-libro{
        gap: 0px !important;
        display: block !important;
    }

    .container-tipo-libro .column-card:nth-child(2) .card{
        margin: 5.5rem 0 0;
    }

    .container-tipo-libro .card {
        width: 100% !important;
    }

    .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 280px !important;
    }
    
    .container-tipo-libro .column-card:nth-child(2) .card:hover .content{
        height: 137px !important;
    }
}


@media (max-width: 767px) {
    .container-tipo-libro .card:hover .img-box{
        top: -65px;
    }

    .container-tipo-libro .column-card:nth-child(2) .card{
        margin: 3rem 0 0;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover .content,
    .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        height: 163px !important;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover,
    .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 310px !important;
    }
}

@media (max-width: 639px) {
    .container-tipo-libro {
        padding-top: 50px;
    }
}

@media (max-width: 595px) {
    .container-tipo-libro .column-card:nth-child(1) .card:hover, .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 330px !important;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover .content, .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        height: 189px !important;
    }
}

@media (max-width: 517px) {
    .container-tipo-libro .column-card:nth-child(1) .card:hover, .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 360px !important;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover .content, .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        height: 216px !important;
    }
}

@media (max-width: 480px) {
    .container-tipo-libro .card {
        width: 230px;
        border-radius: 15px;
    }

    .container-tipo-libro .card .content p {
        font-size: 1rem;
    }

    .container-tipo-libro .card .content a {
        font-size: 0.9rem;
    }

    .content h2 {
        font-size: 1.75em;
        margin-bottom: 0.7714em;
    }
}

@media (max-width: 440px) {
    .container-tipo-libro .column-card:nth-child(1) .card:hover, .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 410px !important;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover .content, .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        height: 271px !important;
    }
}

@media (max-width: 399px) {
    .container-tipo-libro .column-card:nth-child(1) .card:hover .content, .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        height: 331px !important;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover, .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 470px !important;
    }
}

@media (max-width: 347px) {
    .container-tipo-libro .column-card:nth-child(1) .card:hover .content, .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        padding: 0 15px
    }
}

@media (max-width: 337px) {
    .container-tipo-libro .column-card:nth-child(1) .card:hover .content, .container-tipo-libro .column-card:nth-child(2) .card:hover .content {
        height: 365px !important;
    }

    .container-tipo-libro .column-card:nth-child(1) .card:hover, .container-tipo-libro .column-card:nth-child(2) .card:hover {
        height: 510px !important;
    }
}